.about {
  max-width: 1406px;
  padding-right: 103px;
  padding-left: 103px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__text {
  padding-left: 60px;
  max-width: 410px;
  margin-right: 20px;
}

.about__text-title h2 {
  @include clear-content (49px);
  font-family: $second-font;
  @include font(49px, 49px);
  font-weight: bold;
  letter-spacing: 0.03em;
}

.about__text-title p {
  font-weight: normal;
  @include clear-content (25px);
  @include font(18px, 150%);
}

.about__text-content {
  margin-top: 55px;
}

.about__text-content p {
  @include clear-content (20px);
  font-weight: 300;
  @include font(16px, 150%);
}

.about__img {
  padding-bottom: 115px;
}

.about__video-img {
  position: relative;
  padding-left: 63px;
}

.about__video {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 364px;
  height: 228px;
}

.about__video-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 54, 122, 0.5);
}

.about__video-btn-border {
  position: absolute;
  padding: 14px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/border-video-btn.svg");
}

.about__video-btn {
  cursor: pointer;
  width: 72px;
  height: 72px;
  background: $gradient-btn-1;
  border: none;
  border-radius: 50%;
}

.about__video-btn:hover {
  background: $gradient-btn-2;
}

.about__video-btn::before {
  line-height: 0;
  position: absolute;
  content: url("../img/play.svg");
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: $tablet-width) {
  .about {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding-right: 0;
    padding-left: 0;
  }
}
