.promo {
  padding-top: 120px;
}

.promo__wrapper {
  display: flex;
}

.promo__about {
  display: flex;
  flex-direction: column;
  background-color: $color-red;
  padding: 83px 78px;
}

.promo__about-top {
  display: flex;
}

.promo__about-top h2 {
  @include clear-content (0);
  font-family: $second-font;
  @include font(90px, 90px);
  font-weight: bold;
  letter-spacing: 0.03em;
  color: $color-white;
  margin-right: 50px;
}

.promo__data-time {
  display: flex;
  flex-direction: column
}

.promo__data > p {
  @include clear-content (0);
  @include font(18px, 150%);
  font-weight: normal;
  color: $color-white;
}

.promo__day {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.promo__day::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: $color-white;
  top: 4px;
}

.promo__day > p {
  @include clear-content (0);
  @include font(40px, 150%);
  font-weight: bold;
  color: $color-white;
  margin-right: 7px;
}

.promo__mounth-year p {
  @include clear-content (0);
  @include font(14px, 150%);
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $color-white;
}

.promo__time {
  margin-top: 5px;
}

.promo__time p:first-child {
  @include clear-content (0);
  @include font(18px, 150%);
  font-weight: normal;
  color: $color-white;
}

.promo__time p:last-child {
  position: relative;
  @include clear-content (0);
  @include font(40px, 150%);
  font-weight: bold;
  color: $color-white;
}

.promo__time p:last-child::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: $color-white;
  top: 4px;
}

.promo__about > p {
  @include clear-content (8px);
  @include font(18px, 150%);
  font-weight: normal;
  color: $color-white;
}

.promo__about a {
  @include font(12px, 14px);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  border: 4px solid $color-white;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-top: 52px;
}

.promo__img {
  width: 100%;
  height: auto;
  background-image: url("../img/promo@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-resolution: $retina-dpi),
(min-resolution: $retina-dppx) {
  .promo__img {
    background-image: url("../img/promo@2x.jpg");
  }
}


@media (max-width: $tablet-width) {
  .promo {
    padding-top: 100px;
  }

  .promo__about {
    display: flex;
    flex-direction: column;
    background-color: $color-red;
    padding: 51px 45px;
  }

  .promo__about-top h2 {
    @include font(52px, 52px);
    margin-right: 29px;
  }

  .promo__data > p {
    @include font(12px, 150%);
  }

  .promo__day > p {
    @include font(24px, 36px);
    margin-right: 3px;
  }

  .promo__day::before {
    top: 2px;
  }

  .promo__mounth-year p {
    @include font(10px, 10px);
  }

  .promo__time {
    margin-top: 0;
  }

  .promo__time p:first-child {
    @include font(12px, 18px);
  }

  .promo__time p:last-child {
    @include font(24px, 36px);
  }

  .promo__time p:last-child::before {
    top: 2px;
  }

  .promo__about > p {
    @include font(12px, 18px);
  }

  .promo__about a {
    width: 100%;
    @include font(10px, 12px);
    border: 2px solid $color-white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 36px;
  }

  .promo__img {
    background-position: left;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    padding-top: 70px;
  }

  .promo__wrapper {
    flex-direction: column;
  }

  .promo__about {
    align-items: center;
  }

  .promo__img {
    min-height: 292px;
    background-position: center;
  }
}
