.subscriptions {
  position: relative;
  background-color: $color-grey-backround;
  padding-top: 120px;
  padding-bottom: 120px;
}

.subscriptions::after {
  position: absolute;
  width: 287px;
  height: 494px;
  content: url("../img/gym-machine-desctop.png");
  right: 0;
  bottom: -150px;
}

.subscriptions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}


.subscriptions__wrapper h2 {
  @include clear-content (0);
  font-family: $second-font;
  @include font(49px, 49px);
  font-weight: bold;
  letter-spacing: 0.03em;
}

.subscriptions__mounth {
  position: relative;
  display: flex;
  margin-top: 53px;
  border-bottom: 2px solid rgba($color: #787878, $alpha: 0.2);
  padding-bottom: 20px;
}

.subscriptions__mounth input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.subscriptions__mounth label {
  position: relative;
  cursor: pointer;
  @include font(20px, 150%);
  font-weight: normal;
  opacity: 0.5;
  margin-right: 46px;
  user-select: none;
}

.subscriptions__mounth label:last-child {
  margin-right: 0;
}

.subscriptions__mounth input:checked+label {
  opacity: 1;
}

.subscriptions__mounth input:checked+label::before {
  position: absolute;
  content: "";
  bottom: -22px;
  height: 2px;
  width: 100%;
  background-color: #d10a42;
}

.subscriptions__list {
  @include clear-list;
  margin-top: 39px;
  display: none;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.subscriptions__list--active {
  display: flex;
}

.subscriptions__list li {
  background-color: $color-white;
  padding: 68px 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.subscriptions__item-title h3 {
  @include clear-content (0);
  @include font(26px, 29px);
  font-weight: bold;
  text-align: center;
}

.subscriptions__item-title p {
  @include clear-content (22px);
  @include font(16px, 150%);
  font-weight: normal;
  text-align: center;
  color: $color-blue-dark;
}

.subscriptions__item-price {
  position: relative;
}

.subscriptions__item-price p {
  position: relative;
  @include clear-content (96px);
  @include font(60px, 150%);
  font-weight: bold;
  text-align: center;
  color: #103aae;
  padding-right: 44px;
}

.subscriptions__item-price p:first-child::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 42px;
  background-image: url("../img/rub.svg");
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.subscriptions__item-price p:last-child {
  position: absolute;
  @include font(100px, 150%);
  font-weight: bold;
  color: $color-grey;
  opacity: 0.48;
  z-index: -10;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
  padding-right: 0;
}

.subscriptions__list a {
  cursor: pointer;
  font-weight: bold;
  @include font(12px, 14px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 23px 43px;
  color: $color-text;
  border: 2px solid $color-text;
  margin-top: 59px;
}

.subscriptions__list li:hover {
  padding: 61px 70px;
  border: 7px solid transparent;
  border-image: linear-gradient(#d10a42, #00359f);
  -moz-border-image: -moz-linear-gradient(#d10a42, #00359f);
  -webkit-border-image: -webkit-linear-gradient(#d10a42, #00359f);
  border-image-slice: 1;
}

.subscriptions__list li:hover>a {
  padding: 25px 45px;
  background: $gradient-btn-2;
  color: $color-white;
  border: none;
  opacity: 1;
}

.subscriptions__bg-img {
  position: relative;

}

@media (max-width: $tablet-width) {
  .subscriptions {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .subscriptions::after {
    position: absolute;
    width: 347px;
    height: 444px;
    content: url("../img/gym-machine-tablet.png");
    right: 0;
    bottom: -110px;
  }

  .subscriptions__wrapper h2 {
    @include font(42px, 42px);
  }

  .subscriptions__mounth {
    margin-top: 45px;
  }

  .subscriptions__mounth label {
    @include font(18px, 27px);
    margin-right: 54px;
  }

  .subscriptions__list {
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }

  .subscriptions__list li {
    margin-top: 40px;
    padding: 58px 118px;
    max-width: 442px;
  }

  .subscriptions__list li:hover {
    padding: 51px 111px;
  }

  .subscriptions__list li:first-child {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .subscriptions {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .subscriptions::after {
    content: none;
  }

  .subscriptions__wrapper h2 {
    @include font(32px, 32px);
  }

  .subscriptions__mounth {
    margin-top: 35px;
  }

  .subscriptions__mounth label {
    @include font(16px, 150%);
    margin-right: 45px;
  }

  .subscriptions__list {
    margin-top: 35px;
  }

  .subscriptions__list li {
    margin-top: 40px;
    padding: 58px 42px;
    max-width: none;
  }

  .subscriptions__list li:hover {
    padding: 51px 35px;
  }

  .subscriptions__item-title h3 {
    @include font(22px, 24px);
  }

  .subscriptions__item-title p {
    @include font(16px, 24px);
    margin-top: 20px;
  }

  .subscriptions__item-price p {
    @include font(42px, 72px);
    margin-top: 80px;
  }

  .subscriptions__item-price p:first-child::after {
    transform: translateY(-50%) scale(0.8);
  }

  .subscriptions__item-price p:last-child {
    @include font(80px, 120%);
    top: -35px;
  }
}
