.hero {

  padding-left: 98px;
  padding-bottom: 51px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1406px;
  padding-right: 103px;
  padding-left: 103px;
  margin-right: auto;
  margin-left: auto;
}

.hero__about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 122px;
  margin-right: 65px;
}

.hero__about-img {
  display: flex;
}

.hero__about > p {
  @include clear-content (0);
  font-family: $second-font;
  @include font(49px, 49px);
  letter-spacing: 0.03em;
  color: $color-white;
}

.hero__about-bottom {
  position: relative;
}

.hero__about-bottom p:first-child {
  @include clear-content (25px);
  font-family: $second-font;
  font-weight: bold;
  @include font(109px, 109px);
  letter-spacing: 0.03em;
  text-align: right;
  color: $color-white;
}

.hero__about-bottom p:last-child {
  @include clear-content (0);
  left: -80px;
  top: 150px;
  position: absolute;
  @include font(14px, 150%);
  text-align: right;
  color: $color-white;
}

.hero a {
  margin-top: 80px;
  font-weight: bold;
  @include font(12px, 14px);
  padding: 24px 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  border: 4px solid $color-white;
}

.hero__social {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.hero__social a {
  margin-top: 24px;
  border: none;
  padding: 0;
  font-weight: regular;
  @include font(12px, 14px);
}

@media (max-width: $tablet-width) {
  .hero {
    padding-left: 89px;
    padding-top: 25px;
    padding-bottom: 82px;
  }

  .hero__wrapper {
    padding-right: 18px;
    padding-left: 45px;
  }

  .hero__about {
    padding-top: 56px;
    margin-right: 30px;
  }

  .hero__about-img {
    justify-content: space-between;
    width: 100%;
  }

  .hero__about > p {
    @include font(34px, 34px);
  }

  .hero__about-bottom p:first-child {
    @include font(86px, 86px);
  }

  .hero__about-bottom p:last-child {
    @include font(14px, 150%);
    top: 115px;
  }

  .hero a {
    margin-top: 60px;
  }

  .hero__social {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .hero {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 80px;
  }

  .hero__wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .hero__about {
    padding-top: 80px;
    margin-right: 0;
    width: 100%;
  }

  .hero__about-bottom {
    margin-left: auto;
  }

  .hero__about > p {
    @include font(28px, 28px);
  }

  .hero__about-bottom p:first-child {
    @include font(78px, 78px);
  }

  .hero__about-bottom p:last-child {
    @include font(14px, 21px);
    top: 105px;
    left: -75px;
  }

  .hero__img {
    display: none;
  }

  .hero a {
    width: 100%;
  }
}
