.footer {
  background-color: $color-footer;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 38px;
}

.footer__logo {
  font-family: $second-font;
  @include font(26px, 26px);
  font-weight: bold;
  letter-spacing: 0.02em;
  color: $color-white;
}

.footer__nav {
  padding-left: 22px;
  display: flex;
  flex-wrap: wrap
}

.footer__nav-list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
}

.footer__nav-list:last-child {
  margin-right: 0;
}

.footer__nav-list li {
  margin-right: 40px;
}

.footer__nav-list:first-child li:first-child {
  display: none;
}

.footer__nav-list li:last-child {
  margin-right: 0;
}

.footer__nav-list a {
  @include font(14px, 16px);
  font-weight: normal;
  color: $color-white;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social a {
  margin-right: 25px;
}

.footer__social a:last-child {
  margin-right: 0;
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .footer__logo {
    @include font(24px, 24px);
  }

  .footer__nav-list {
    margin-right: 30px;
  }

  .footer__nav-list li {
    margin-right: 30px;
  }

  .footer__social a {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__logo {
    display: none;
  }

  .footer__logo--mobile {
    display: block;
    @include font(20px, 20px);
    min-height: 24px;
  }

  .footer__nav {
    padding-left: 0;
  }

  .footer__nav-list:first-child li:first-child {
    display: block;
  }

  .footer__nav-list {
    margin-right: 76px;
  }

  .footer__nav-list li {
    margin-top: 16px;
    margin-right: 0;
  }

  .footer__nav-list li:first-child {
    margin-top: 0;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__nav-list a {
    @include font(16px, 16px);
  }

  .footer__social {
    margin-top: 32px;
  }

  .footer__social a {
    margin-right: 35px;
  }

  .footer__social a:nth-child(1n) svg {
    width: 32px;
    height: 17px;
  }

  .footer__social a:nth-child(2n) svg {
    width: 27px;
    height: 27px;
  }

  .footer__social a:nth-child(3n) svg {
    width: 14px;
    height: 27px;
  }
}
